In [1]:
l=[1,2,3,4,5]

In [2]:
for i in l:
    print(i)

1
2
3
4
5

This is now not a list. All this are integers

In [3]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [4]:
l1 = ["sudh" ,"kumar" , "krish" ,"naik"]

In [5]:
l1

['sudh', 'kumar', 'krish', 'naik']

In [6]:
for i in l1:
    print(i, type(i))

sudh <class 'str'>
kumar <class 'str'>
krish <class 'str'>
naik <class 'str'>

In [7]:
for i in l1 : 
    print(i)
else :
    print("if for loop is able to complete itself then only else will execute")

sudh
kumar
krish
naik
if for loop is able to complete itself then only else will execute

This is for-else statement.This is valid only in python. other language has if-else. here else block works only when for loop is completed

In [8]:
for i in l1:
    if i == "kumar":
        break
    print(i)

sudh

for loop terminates after break

In [9]:
for i in l1:
    if i == "kumar":
        break
    print(i)
print(i)

sudh
kumar

second print(i) is out of for loop so now it prints

In [10]:
for i in l1:
    if i == "kumar":
        break 
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh

here for loop was not completed so else will not work

In [11]:
for i in l1 : 
    if i == "kumar":
        continue
    print(i)

sudh
krish
naik

see here kumar didn't come.coninue don't executes the line below it and sends the control back to loop

In [12]:
for i in l1 : 
    if i == "kumar":
        continue
    print(i)
else :
    print("execute this if for loop is able to complete itself")

sudh
krish
naik
execute this if for loop is able to complete itself

here else is able to execute

In [13]:
range(5)

range(0, 5)

This will generate data from 0 to 4. (5 is excluded)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

here same concept of slicing is applicable

In [17]:
range(0,20,2)

range(0, 20, 2)

In [19]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

here we have used jumping parameter

q.find data in reverse order using for loop

In [21]:
for i in range(len(l1)):
    print(l1[i])

sudh
kumar
krish
naik

here i value will be 0,1,2,3 that is indexes

In [22]:
len(l1)

4

In [25]:
range(len(l1),0,-1)

range(4, 0, -1)

In [26]:
list(range(len(l1),0,-1))

[4, 3, 2, 1]

here we have do -1 for getting index

In [27]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

naik
krish
kumar
sudh

In [28]:
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [29]:
l2 = [23,5,45,56,6,67,67,78,87,8998,9,9,8]

q. find data on even index only

In [32]:
range(0,len(l2),2)

range(0, 13, 2)

In [33]:
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10, 12]

In [34]:
for i in range(0,len(l2),2):
    print(l2[i])

23
45
6
67
87
9
8

In [41]:
l = [1,2,3,4,7,8,98]

In [45]:
sum(l)

TypeError: 'int' object is not callable

q. add all numbers

In [44]:
sum1=0
for i in l:
    sum1=sum1+i
print (sum1)

123

In [46]:
t = (1,2,3,4,4,5)

In [47]:
for i in t:
    print(i)

1
2
3
4
4
5

work for tuples also

In [48]:
result = 0
for i in t :
    result = result+ i 
result

19

In [49]:
s = {1,2,3,4,5 ,"sudh" , "pwskills"}

In [50]:
for i in s :
    print(i)

1
2
3
4
5
sudh
pwskills

works for sets also

In [51]:
s1 = "pwskills"
for i in s1 :
    print(i)

p
w
s
k
i
l
l
s

work for strings also

In [53]:
d = {"name" : "sudh" , "class" : "data scieince masters" ,
     "topic" : ["python","stats","machine learning","DL","CV" ,"NLP","resume","interview"]}

In [54]:
d.keys()

dict_keys(['name', 'class', 'topic'])

In [55]:
for i in d.keys():
    print(d[i])

sudh
data scieince masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [56]:
d.values()

dict_values(['sudh', 'data scieince masters', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']])

In [57]:
for i in d.values():
    print(i)

sudh
data scieince masters
['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview']

In [58]:
d.items()

dict_items([('name', 'sudh'), ('class', 'data scieince masters'), ('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])])

In [59]:
for i in d.items():
    print(i)

('name', 'sudh')
('class', 'data scieince masters')
('topic', ['python', 'stats', 'machine learning', 'DL', 'CV', 'NLP', 'resume', 'interview'])