In [5]:
l = [1,2,3,4,45,5]
l1 = []
for i in l :
    l1.append(i**2)
l1

[1, 4, 9, 16, 2025, 25]

instead of above code we can also use comprehension as shown below

In [6]:
[i**2 for i in l]

[1, 4, 9, 16, 2025, 25]

q. find only even no. in list

In [7]:
for i in l:
    if i/2==0:
        print(i)

q. take out only even numbers from list

In [8]:
[i for i in l if i%2 == 0]

[2, 4]

here comprehension starts from i, there is no colon after for loop

In [9]:
l1 = ["sudh" , "pwskills" , "kumar" , "data science masters"]

q.convert all in uppercase.outcome should be in list

In [11]:
[i.upper() for i in l1]

['SUDH', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTERS']

here we have put square bracket because we need list as outcome.

q. now do tuple comprehension

In [14]:
(i**2 for i in l)

generator object create ho gaya

In [15]:
list(i**2 for i in l)

[1, 4, 9, 16, 2025, 25]

here we have created data in tuple but to view it we have used list function

q. now do dictionary comprehension

In [16]:
d = {"key1" :1 , "key2" :2 , "key3":3 ,"key4" :4}

In [21]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

q. square all the values

In [20]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [22]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

q.find all values greater than 1

In [24]:
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4}