In [1]:
print("this is my print")

this is my print

In [2]:
l = [324,45,45,45]

In [3]:
len(l)

4

In [4]:
type(l)

list

these are in built functions. how we should make function

In [5]:
def test():

IndentationError: expected an indented block (3861551224.py, line 1)

we cann't make just the function name without definition.alternatively we can do the following

In [6]:
def test():
    pass

In [7]:
def test1():
    print("this is my very very first function")

function is created

In [8]:
test1()

this is my very very first function

this is how function is called

In [9]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

print always returns nonetype data type

In [10]:
def test2():
    return "this is my very first return "

In [11]:
test2() + "sudh"

'this is my very first return sudh'

In [12]:
 def test3() : 
        
        return "sudh" , 23, 345.56 , [1,2,3,3]

In [13]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 3])

multiple datatype is returned in tuple in a function

In [14]:
a,b,c,d = test3()

In [15]:
a

'sudh'

In [16]:
b

23

In [17]:
c

345.56

In [18]:
d

[1, 2, 3, 3]

In [19]:
a= 1 
b = 4

In [20]:
a , b = 1,4

In [21]:
def test4():
    a = 5+6/7
    return a

In [22]:
test4()

5.857142857142857

In [23]:
def test5(a, b ,c):
    d = a+b/c
    return d

In [24]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

now function needs arguments

In [25]:
test5(2,5,8)

2.625

In [26]:
def test6(a,b):
    return a+b

In [27]:
test6(3,4)

7

In [28]:
test6("sudh" , " kumar")

'sudh kumar'

In [29]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

this is reusability of function

In [30]:
l = [1,2,3,4,"sudh" , "kumar" ,[1,2,3,4,5,6]]

q. find only numbers by function

In [32]:
l1 = []
for i in l :
    if type(i) == int or type(i) == float :
        l1.append(i)

In [33]:
l1

[1, 2, 3, 4]

In [34]:
def test7(l):
    l1 = []
    for i in l :
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [35]:
test7(l)

[1, 2, 3, 4]

In [36]:
def test8(a) : 
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [37]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [38]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

how to get information of getting information of function what does it do by using TAB (DOCSTRING)

In [39]:
def test9(a) :
    """this is my function to extract num data from list"""
    
    l= []
    for i in a :
        if type(i) == list:
            for j in i :
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [40]:
test9()

TypeError: test9() missing 1 required positional argument: 'a'

In [41]:
def test10(a,b):
    return a+b

how to get input argument from user

In [42]:
def test11(*args):
    return args

n no. of arguments can be passed. this is done by*

In [43]:
test11()

()

In [44]:
type(test11())

tuple

In [45]:
test11(1,2,3)

(1, 2, 3)

In [46]:
test11(1,2,3,"sudh" , "kumar" , [1,2,3,4,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4, 4])

In [47]:
def test12(*sudh):
    return sudh

In [48]:
test12(1,2,34,4)

(1, 2, 34, 4)

In [49]:
def test13(*args , a) :
    return args , a

In [50]:
test13(1,2,3,4)

TypeError: test13() missing 1 required keyword-only argument: 'a'

In [51]:
test13(1,2,3,4 , a = 23)

((1, 2, 3, 4), 23)

In [52]:
def test14(c,d,a = 23 , b = 1 ):
    return a,b,c,d

In [53]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [54]:
test14(3,4)

(23, 1, 3, 4)

here first default vallues whose values were defined are printed first

In [55]:
test14(2,5 , a = 2342)

(2342, 1, 2, 5)

here we have changed the value of a. here we have overridden value of a

In [56]:
def test15(**kwargs):
    return kwargs

this will give key value data

In [57]:
test15()

{}

In [58]:
type(test15())

dict

In [59]:
test15(a = [1,2,3,4] , b = "sudh" , c = 23.45 )

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 23.45}