# dictionery

In [1]:
d={}

In [3]:
type(d)

dict

We will study dictionery. this has key and value pairs. key value should be unique.

In [4]:
d1={'key':"vinay"}

this is like word meaning

In [5]:
d1

{'key': 'vinay'}

In [6]:
d2 = {'name' : "vinay" , "email" : "ss@gmail.com", "number" : 334534}

In [7]:
d2

{'name': 'vinay', 'email': 'ss@gmail.com', 'number': 334534}

In [8]:
d3 = {234 : "sudh" , '_wer' : "kumar",True :24234}

In [9]:
d3

{234: 'sudh', '_wer': 'kumar', True: 24234}

speacial characters cannot be used in key. numeric , boolean value and sttring values are allowed in keys.

In [10]:
d3

{234: 'sudh', '_wer': 'kumar', True: 24234}

In [11]:
d3[234]

'sudh'

In place of index here we use keys

In [12]:
d3[True]

24234

In [13]:
d3[1]

24234

internally True=1

In [14]:
d4 = {'name':"sudh" , 'mail_id' :"ss@gmail.com" ,"name":"sudhanshu"}

In [15]:
d4['name']

'sudhanshu'

here there were 2 keys with name. so only last value must be reflected as previous is overridden.key should be unique.

In [16]:
d5 ={"company" : "pwskills" , "course" :["web dev" , "data science " , "java with dsa system design"]}

value can also be a list,tuple ,set ,etc.

In [17]:
d5

{'company': 'pwskills',
 'course': ['web dev', 'data science ', 'java with dsa system design']}

In [19]:
d5['course']

['web dev', 'data science ', 'java with dsa system design']

In [20]:
d5['course'][1]

'data science '

In [21]:
d6 = {"number" : [2,34,3,34,34],"assignment":(1,2,3,4,5,6) , "launch_date":{28,12,14} ,"class_time":{"web_dev": 8 , "Data science masters" : 8 , "java with dsa and system design":7}}

here we have dict inside dict

In [22]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7}}

In [23]:
d6['class_time']['java with dsa and system design']

7

q. add one more key and value.

In [24]:
d6['mentor'] = ["sudhanshu","krish","anurag" , "hayder"]

In [25]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

delete a key

In [26]:
del d6['number']

In [27]:
d6

{'assignment': (1, 2, 3, 4, 5, 6),
 'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

q. give list of all keys in a dictionery

In [29]:
d6.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [30]:
list(d6.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

this is how we can make list of keys

In [31]:
list(d6.values()) ## for values

[(1, 2, 3, 4, 5, 6),
 {12, 14, 28},
 {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 ['sudhanshu', 'krish', 'anurag', 'hayder']]

In [32]:
list(d6.items())## for both

[('assignment', (1, 2, 3, 4, 5, 6)),
 ('launch_date', {12, 14, 28}),
 ('class_time',
  {'web_dev': 8,
   'Data science masters': 8,
   'java with dsa and system design': 7}),
 ('mentor', ['sudhanshu', 'krish', 'anurag', 'hayder'])]

In [33]:
d6.pop('assignment')

(1, 2, 3, 4, 5, 6)

In [34]:
d6

{'launch_date': {12, 14, 28},
 'class_time': {'web_dev': 8,
  'Data science masters': 8,
  'java with dsa and system design': 7},
 'mentor': ['sudhanshu', 'krish', 'anurag', 'hayder']}

In [35]:
d6.pop()

TypeError: pop expected at least 1 argument, got 0

here pop does not remove data from last like in list

dictionery is mutable

In [40]:
marks=int(input("enter your marks"))
if marks >=80:
    print("you will b in a0 batch")
elif marks >=60 and marks<80:
    print("you will b in a1 batch")
elif marks >=40 and marks<60:
    print("you will b in a2 batch")
else :
    print("you will b in a3 batch")

enter your marks90
you will b in a0 batch

input function always converts the any data entered by user to string. so we have converted into int.

In [41]:
price = int(input("enter price " ))
if price > 1000:
    print("i will not purchase")
else :
    print("i will purchase")

enter price 1100
i will not purchase

In [43]:
price = int(input("enter price " ))
if price > 1000:
    print("i will not purchase")

enter price 500

no output

In [44]:
price = int(input("enter price " ))
if price > 1000:
    print("i will not purchase")
    if price >5000:
        print("this is too much ")
    elif price < 2000 : 
        print("its ok")
elif price < 1000 or price > 500 :
    print("i will purchase")
else :
    print("not interested ")

enter price 600
i will purchase

based on undentation if else works.

In [45]:
l = [1,2,3,3,4,5,6,7,8]

q. add one in every element of above list

In [46]:
l[0] +1

2

now we append this in a new list

In [47]:
l2=[]

In [48]:
l2.append(l[0] +1)

In [52]:
for i in l:
    print (i)

1
2
3
3
4
5
6
7
8

In [53]:
for i in l:
    print (i+1)

2
3
4
4
5
6
7
8
9

but we need a list

In [55]:
l3=[]
for i in l:
    l3.append(i+1)

In [56]:
l3

[2, 3, 4, 4, 5, 6, 7, 8, 9]

In [61]:
l = ["sudh" , "kumar" , "pwskills" , "course"]

convert above values in uppercase

In [59]:
l2=[]
for i in l:
    l2.append(i.upper())

In [60]:
l2

['SUDH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [62]:
l = [1,2,3,4,4,"sudh" , "kmumar" , 324,34.456,"abc"]

q. make two separate lists . one has integer and other has strings.

In [67]:
l1=[]
l2=[]
for i in l:
    if type(i)==int or type(i)==float:
        l1.append(i)
    else :
        l2.append(i)

In [68]:
l1

[1, 2, 3, 4, 4, 324, 34.456]

In [69]:
l2

['sudh', 'kmumar', 'abc']